body {
  background-color: lightblue;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

p, h2 {
  color: white;
  display: inline;
}

.logo {
  margin: auto;
  width: 5%;
  height: 5%;
  text-align: center;
}
.text {
  margin: inherit;
  color: white;
  text-align: justify;
  padding: 10px 10px 10px 10px;
}

.pane {
  margin: auto;
  width: 80%;
  background-color: #010a24;
}

.submit {
  padding: 10px 10px 10px 10px;
}
